#main-contents{
    margin-top: 50px;
}

#top-text{
    color: aliceblue;
}

#tweet {
    margin: 5px;
}
#tweetSub {
    margin: 5px;
}

#result {
    margin-top: 10px;
}

.card-text p {
    margin-left: 10px;
}